<div *ngIf="pokemon$ | async as pokemon">
  <figure class="card card--{{ pokemon.types[0].type.name }}">
    <div class="card__image-container">
      <img [src]="pokemon.sprites.other.dream_world.front_default" [alt]="pokemon.types"
           class="card__image" fill>
    </div>
    <figcaption class="card__caption">
      <!--      <h1 class="card__name">{{pokemon.name | titlecase}}</h1>-->
    </figcaption>
  </figure>
</div>
<div class="pokemon-card">

  <img [src]="getImage()" [alt]="pokemon.name">

</div>
<figure class="card card--{{ pokemon.types[0].type.name }}">
  <div class="card__image-container">
    <img [src]="pokemon.types[0].type.name" [alt]="pokemon.types[0].type.name" class="card__image">
  </div>

  <!--  <div *ngIf="pokemon.types[1]">-->
  <!--    <div class="card__image-container">-->
  <!--      <img [src]="pokemon.types[1].image" [alt]="pokemon.types[1].name" class="card__image">-->
  <!--    </div>-->
  <!--  </div>-->

  <p>
    Types: {{ pokemon.types[0].type.name }}
    <span *ngFor="let t of pokemon.types; let last = last">
  {{ t.type.name }}<span *ngIf="!last"> / </span>
  </span>
  </p>

  <!--  <div class="card__image-container">-->
  <!--    <img [src]="pokemon.image" [alt]="pokemon.name" class="card__image">-->
  <!--  </div>-->

  <!--  <figcaption class="card__caption">-->
  <!--    <h1 class="card__name">{{ pokemon.name | titlecase }}</h1>-->
  <!--  </figcaption>-->
  <!--</figure>-->
</figure>
